In [1]:
from astropy.io import ascii
import mysql.connector
from pandas import DataFrame
import mysql.connector
from sqlalchemy import create_engine

In [2]:
engine = create_engine('mysql://mj1e16:[sqlT1G3R]@localhost/Kepler')
conn = mysql.connector.Connect(host='localhost',user='mj1e16',password='[sqlT1G3R]',database='Kepler')
cursor = conn.cursor()

NameError: name 'create_engine' is not defined

In [1]:
for mag in range(-7,0):
    cursor.execute('DROP TABLE IF EXISTS starlist_{}'.format(abs(mag)))
    data = ascii.read('/home/mj1e16/keplerPhotometry/starlistFull_{}.dat'.format(mag)) 
    df = data.to_pandas()
    #print(df)
    diffSize = 1.

    df['X_POS_MAX'] = df['X_POS'] + diffSize
    df['Y_POS_MAX'] = df['Y_POS'] + diffSize
    df['X_POS_MIN'] = df['X_POS'] - diffSize
    df['Y_POS_MIN'] = df['Y_POS'] - diffSize
    df.to_sql('starlist_{}'.format(abs(mag)),con=engine)

NameError: name 'cursor' is not defined

In [4]:
cursor.execute('show tables')
a = cursor.fetchall()
print(len(a))

1939

In [2]:
data = ascii.read('/home/mj1e16/keplerPhotometry/starlistFull.dat') 
df = data.to_pandas()

In [3]:
df

         X_POS     Y_POS    MAG
0       52.922    15.269 -0.827
1      101.972    16.036 -0.060
2      103.746    16.383 -0.040
3      278.211    16.833 -0.143
4       78.933    17.815 -2.222
5      291.826    18.087 -2.284
6      177.198    18.261 -2.103
7       78.584    19.800 -0.312
8      153.490    20.428 -0.915
9      294.071    20.844 -0.137
10      80.981    21.450 -0.620
11     285.615    22.684 -0.166
12     257.306    23.344 -0.986
13     196.251    23.685 -2.930
14     163.487    23.835 -1.369
15     265.646    24.483 -0.358
16      98.693    24.523 -0.732
17      29.821    25.384 -1.245
18     190.973    26.062 -0.604
19      66.190    26.413 -0.496
20     167.764    26.564 -0.025
21     246.994    27.320 -0.523
22     152.990    27.603 -0.027
23     225.185    28.647 -0.231
24      94.261    28.744 -0.131
25      39.921    29.404 -1.075
26     180.152    30.185 -0.226
27     247.540    30.833 -0.620
28      90.176    32.259 -0.356
29     115.677    32.320 -0.018
...        ...       ...    ...
6962  1060.553  1027.482 -0.385
6963   858.840  1027.627 -1.151
6964   905.152  1029.256 -0.755
6965  1087.381  1029.877 -0.431
6966   866.935  1030.735 -0.397
6967  1012.352  1032.093 -0.336
6968  1095.787  1032.612 -0.386
6969  1022.737  1033.243 -1.031
6970  1088.021  1033.934 -0.061
6971   946.988  1034.092 -0.358
6972  1013.738  1034.092 -1.010
6973   958.987  1034.594 -1.505
6974   850.831  1034.868 -1.904
6975  1001.993  1036.466 -3.188
6976   973.259  1037.017 -0.782
6977   918.300  1037.618 -0.160
6978  1077.859  1038.273 -0.006
6979  1064.722  1038.596 -0.052
6980  1017.797  1038.691 -0.435
6981   849.634  1039.615 -3.293
6982  1089.992  1040.859 -0.080
6983  1036.955  1041.201 -0.403
6984   864.801  1041.363 -1.352
6985   839.556  1041.708 -1.205
6986   892.448  1041.899 -0.848
6987   926.249  1041.931 -4.009
6988   989.275  1042.657 -0.942
6989  1033.059  1042.795 -0.613
6990  1103.872  1043.194 -1.001
6991   913.685  1043.746 -0.572

[6992 rows x 3 columns]

In [5]:
dfs = []
xlength = 1015
ylength = 1085
nsegs = 4

xsegment = xlength/nsegs
ysegment = ylength/nsegs

for xsegs in range(nsegs):
    lowx = int(xsegs*xsegment)+15
    highx = int(lowx+xsegment)+15
    dfx = df[df['X_POS'] > lowx]
    dfx2 = dfx[dfx['X_POS'] < highx]
    for ysegs in range(0,nsegs):
        lowy = int(ysegs*ysegment)+15
        highy = int(lowy+ysegment)+15
        dfy = dfx2[dfx2['Y_POS'] > lowy]
        dfy2 = dfy[dfy['Y_POS'] < highy]
        print(len(dfy2))
        dfs.append(dfy2)

458
457
455
333
486
486
484
352
484
483
481
351
483
482
482
351

In [6]:
print(len(df))

6992